include ../partials/header1.pug
  body
    div(class='jumbotron')
      .container
        include ../partials/navbar.pug
      div(class="container text-center")
        h1 Explore Posts 
        a(href="/explore/new" class='btn') Submit Your Creative Write 
    div(class="container mb-5 mt-1")
      include ../partials/flash.pug
    div(class='container')
      div(class="dropdown d-flex justify-content-end")
        button(class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")= selectedCategory
        div(class='dropdown-menu' aria-labelledby="dropdownMenuButton")
          each category in categories
            a(class="dropdown-item" href=`/explore?category${category}`) #{category.name} #{category.count}
      div(class="row")
        each post in posts
          - var slug = post.heading.toLowerCase().replace(/[^\w ]+/g,'');
          - var date=new Date(post.dateApproved).toDateString().replace("Invalid Date","");
          div(class="col-lg-4")
            div(class="card shadow p-3 mb-5 bg-white rounded")
              img(src= `${post.image}` class="card-img-top")
              div(class="card-body")
                h5(class="card-title")=post.heading
                p(class="card-text")=post.sortDescription
                div 
                  a(href=`explore/${slug}&id=${post._id}` id="more" class='btn btn-1') Read More 
                p(class="text-muted" style="margin-top: 10px;") #{date}
    include ../partials/socialbar2.pug
    include ../partials/footer.pug